.roundedBottom {
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}


//.breadcrumb {
//    display: flex;
//    flex-wrap: wrap;
//    padding: 0.75rem 1rem;
//    margin-bottom: 1rem;
//    list-style: none;
//    background-color: #444;
//    border-radius: 0!important;
//    z-index: 1;
//}

//.zIndex1{
//    z-index: 10000!important;
//}
