.roundedTop {
    border-top-right-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #444;
    border-radius: 0!important;
}
